<html>

<body>

<h1>New Movie</h1>

<form action="{{ url_for('editMovie', director_id = director.id, movie_id = movie.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder='{{movie.name}}'>
	<p>Image:</p>
		<input type ='text' size='100' name='image' placeholder='{{movie.image}}'>
	<p>Trailer:</p>
		<input type ='text' size='100' name='trailer' placeholder='{{movie.trailer}}'>
	<p>Description:</p>
		<textarea rows='5' cols='55' name='description' placeholder='{{movie.bio}}'></textarea>
<br>
<input type='submit' value='Create'>


</form>
</body>

</html>