<html>

<body>

<h1>Edit {{director.name}}'s biography</h1>

<form action="{{ url_for('editDirector', director_id = director.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder='{{director.name}}'>
	<p>Image:</p>
		<input type ='text' size='100' name='image' placeholder='{{director.image}}'>
	<p>Description:</p>
		<textarea rows='5' cols='55' name='bio' placeholder='{{director.bio}}'></textarea>
	<p><input type='submit' value='Edit'></p>


</form>
</body>

</html>