{% extends "layout.html" %} {% block title %}Linus' favourite directors{% endblock %} {% block navbar %} { super() }} {% if user %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{url_for('newDirector')}}"> Add director</a>
    </li>
</ul>
{% endif %} {% endblock %} {% block content %}
<!--MESSAGE FLASHING EXAMPLE index start-->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="row">
    <div class="col-md-6 col-lg-4 text-center">
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %} {% endwith %}
<!--MESSAGE FLASHING EXAMPLE index end-->
<div class="row">
    {% if directors %} {% for d in directors %}
    <div class="col-md-6 col-lg-4 text-center">
        <a href="{{url_for('listDirector', director_id = d.id)}}">
            <img alt="{{d.name}}" src="{{d.image}}" width="140" height="209">
        </a>
        <h2>{{d.name}}</h2> {% if user %}
        <a href="{{url_for('editDirector', director_id = d.id)}}">[ Edit ]</a>
        <a href="{{url_for('deleteDirector', director_id = d.id)}}">[ Delete ]</a> {% endif %}
    </div>
    {% endfor %} {% endif %}
</div>
{% endblock %}