{% extends "layout.html" %} {% block title %}{{director.name}}{% endblock %} {% block navbar %} {% if user %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{url_for('newMovie', director_id = director.id)}}"> Add Movie</a>
    </li>
</ul>
{% endif %} {% endblock %} {% block content %}
<!--MESSAGE FLASHING EXAMPLE index start-->
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="row">
    <div class="col-md-6 col-lg-4 text-center">
        <ul>
            {% for message in messages %}
            <li><b>{{message}}</b></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %} {% endwith %}
<!--MESSAGE FLASHING EXAMPLE index end-->
<div class="row">
    <div class="col-md-6 col-lg-4 text-center">
        <img alt="{{director.name}}" src="{{director.image}}" width="140" height="209">
    </div>
    <div class="col-md-9 col-lg-7 text-left">
        <p><b>Name:</b></p>
        <p>{{director.name}}</p>
        <p><b>Biography:</b></p>
        <p>{{director.bio}}</p>
    </div>
</div>
<!--showcase movie section start-->
<div class="row">
    {% if movies %} {% for m in movies %}
    <div class="col-md-6 col-lg-4 movie-tile text-center">
        <a href="{{url_for('listMovie', director_id = director.id, movie_id = m.id)}}">
            <img alt="{{m.name}}" src="{{m.image}}" width="140" height="209">
        </a>
        <h2>{{m.name}}</h2> {% if user %}
        <a href="{{url_for('editMovie', director_id = director.id, movie_id = m.id)}}">[ Edit ]</a>
        <a href="{{url_for('deleteMovie', director_id = director.id, movie_id = m.id)}}">[ Delete ]</a> {% endif %}
    </div>
    {% endfor %} {% endif %}
</div>
<!--showcase movie section end-->
{% endblock %}