<html>

<body>

<h1>{{director.name}}'s biography</h1>

<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>

{% endif %}
{% endwith %}
<p><a href="{{url_for('listAllDirectors')}}">Back to Home page</a></p>
<p>Name:</p><p>{{director.name}}</p>
<p>Description:</p><p>{{director.bio}}</p>
<p><a href="{{url_for('newMovie', director_id = director.id)}}"> Add Movie to the list</a></p>
{% if movies %}
<p>Director:</p>

<ul>
{% for m in movies %}
  <li>
  	<p><a href="{{url_for('listMovie', director_id = director.id, movie_id = m.id)}}">{{m.name}}</a></p>
  	<a href="{{url_for('editMovie', director_id = director.id, movie_id = m.id)}}">[ Edit ]</a>
  	<a href="{{url_for('deleteMovie', director_id = director.id, movie_id = m.id)}}">[ Delete ]</a>
  </li>
{% endfor %}
{% endif %}
</ul>

</body>

</html>